body {
  background-color: #121212;
  color: #ffffff;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

.border-radius {
  border-radius: 15px;
}

.header {
  height: 60px;
  background-color: #212529;
}

.navbar-brand img {
  height: 40px;
}

.form-control {
  background-color: #343a40;
  color: #ffffff;
  border-color: #495057;
}
